.row
  .col-md-6
    - @posts.each do |post|
      .media
        .media-body
          %h4.media-heading= link_to post.title, post_path(post)
          = l post.published_at.to_date, format: :short
  .col-md-6
    - @favorite_pages.each do |page|
      .media
        .media-body
          %h4.media-heading= link_to page.title, favorite_page_path(page)
          = l page.published_at.to_date, format: :short
