.page-header
  %h1= @favorite_page.title

  %ul.list-inline.text-muted
    %li= link_to 'Percolator.io', root_path
    %li= l @favorite_page.published_at.to_date, format: :long

!~ @favorite_page.content
