$container-desktop: 800px
$container-large-desktop: $container-desktop

@import 'bootstrap-sprockets'
@import 'bootstrap'

@import 'codemirror'
@import 'codemirror/themes/elegant'


//TODO: Сделать автоматически раснягивающимся на всю доступную высоту
.CodeMirror
  height: 600px
