$container-desktop: 800px
$container-large-desktop: $container-desktop

@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'preview'

@import 'codemirror'
@import 'codemirror/themes/elegant'

@import 'syntax'

pre
  padding: 0
  code
    padding: 20px
    display: block


//TODO: Сделать автоматически раснягивающимся на всю доступную высоту
.markdown_editor .CodeMirror
  height: 600px

.query_editor .CodeMirror
  height: 100px
